/* ASD */
/* Term: 1301 */
/* Project: 1 */
/* Author: Mark McAninch */

/*a{   color: blue;
	 text-align: center;

} */

body{
	background-color: gray;

	
    
}

header,h1 {
	background-color: #282828;
	color: #00FF00;
	text-align: center;
	text-shadow: 3px;
}

h2 {
	font-weight: 12;
	text-indent: 1px;
	text-align: 1.2em;
	border-width: 1.2em;
	text-shadow: 5px #C0FF3E;
	padding-top: 1px;
	margin-top: 1px;
	height: 1.2em;
	color: #7CFC00;
	line-height: 1.2em;
	font-weight: 20px;
	font-family: 15pt:, "Times New Roman;
	
}

h3 {
	color: #7CFC00;
}

ul li {
	color: blue;
}

legend {
	color: black;
}

input {
	color: #00FFFF;
}

textarea {
	color: black;
}

input {
	color: black;
}

inputValue{
	color: blue;
}

submit {
	color: blue;
}